.dark-medium-contrast {
  --md-sys-color-primary: rgb(186 233 170);
  --md-sys-color-surface-tint: rgb(165 211 149);
  --md-sys-color-on-primary: rgb(5 45 2);
  --md-sys-color-primary-container: rgb(113 156 100);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(187 233 169);
  --md-sys-color-on-secondary: rgb(6 45 2);
  --md-sys-color-secondary-container: rgb(113 156 99);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(163 236 199);
  --md-sys-color-on-tertiary: rgb(0 44 28);
  --md-sys-color-tertiary-container: rgb(88 158 126);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 218);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 63);
  --md-sys-color-on-surface-variant: rgb(217 222 209);
  --md-sys-color-outline: rgb(174 180 167);
  --md-sys-color-outline-variant: rgb(140 146 135);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 218);
  --md-sys-color-inverse-on-surface: rgb(39 43 37);
  --md-sys-color-inverse-primary: rgb(42 81 33);
  --md-sys-color-primary-fixed: rgb(192 239 175);
  --md-sys-color-on-primary-fixed: rgb(0 22 0);
  --md-sys-color-primary-fixed-dim: rgb(165 211 149);
  --md-sys-color-on-primary-fixed-variant: rgb(24 62 17);
  --md-sys-color-secondary-fixed: rgb(193 239 175);
  --md-sys-color-on-secondary-fixed: rgb(1 22 0);
  --md-sys-color-secondary-fixed-dim: rgb(166 211 149);
  --md-sys-color-on-secondary-fixed-variant: rgb(24 62 16);
  --md-sys-color-tertiary-fixed: rgb(169 242 205);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 11);
  --md-sys-color-tertiary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 63 42);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(66 70 63);
  --md-sys-color-surface-container-lowest: rgb(5 8 4);
  --md-sys-color-surface-container-low: rgb(27 31 25);
  --md-sys-color-surface-container: rgb(37 41 35);
  --md-sys-color-surface-container-high: rgb(48 52 45);
  --md-sys-color-surface-container-highest: rgb(59 63 56);
}
