.light-medium-contrast {
  --md-sys-color-primary: rgb(24 62 17);
  --md-sys-color-surface-tint: rgb(64 104 54);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(78 119 67);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(24 62 16);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(79 119 67);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 63 42);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(50 122 91);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(248 251 241);
  --md-sys-color-on-background: rgb(25 29 23);
  --md-sys-color-surface: rgb(248 251 241);
  --md-sys-color-on-surface: rgb(14 18 13);
  --md-sys-color-surface-variant: rgb(223 228 215);
  --md-sys-color-on-surface-variant: rgb(50 56 47);
  --md-sys-color-outline: rgb(78 84 74);
  --md-sys-color-outline-variant: rgb(105 111 100);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 50 43);
  --md-sys-color-inverse-on-surface: rgb(239 242 232);
  --md-sys-color-inverse-primary: rgb(165 211 149);
  --md-sys-color-primary-fixed: rgb(78 119 67);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(54 94 45);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(79 119 67);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(55 94 45);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(50 122 91);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(19 96 68);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(196 200 191);
  --md-sys-color-surface-bright: rgb(248 251 241);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 245 235);
  --md-sys-color-surface-container: rgb(230 233 224);
  --md-sys-color-surface-container-high: rgb(219 222 213);
  --md-sys-color-surface-container-highest: rgb(208 211 201);
}
